*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.navbar{
  width: 100%;
  background-color: rgba(29, 57, 182, 0.87);
  position: fixed;
  z-index: 1;
}
.cola{
  font-weight: 800;
  font-size: 19px;

}
.Home{
  background-image:   url('/public/backblue.jpg'); 
  background-size: cover; 
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  padding-top: 10vh;
  position: relative;
}

.service{
  background-image:   url('/public/service.jfif'); 
  background-size: cover; 
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 10vh;
  position: relative;
}

.about{
  background-image:   url('/public/service.jfif'); 
  background-size: cover; 
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 10vh;
  position: relative;
}

.our {
  font-size: large;
  font-weight: 600;
}
.welcome{
 font-weight: 700;
 font-style: oblique;
}
.expe{
  font-size: larger;
  font-weight: 400;
}